body {
  color: black;
  background-color: #48484a;
  font-family: "Rajdhani", sans-serif;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  filter: grayscale(100%) brightness(50%);
  z-index: -1;
}
.container {
  margin: 0 auto;
  padding: 0;
}
.widget {
  border-radius: 4px;
  border: solid 1px white;
  background-color: rgba(236, 236, 236, 0.6);
}

.viewport-header {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 70%;
}
.navbar {
  border-radius: 4px;
  border: solid 1px white;
  background-color: rgba(236, 236, 236, 0.6);
  font-weight: 600;
  margin-bottom: 20px;
}
.search-title-bar {
  padding: 0;
}
button {
  border: solid 1px #48484a;
  transition: all 200ms ease-in-out;
}
#app-title {
  font-size: 20px;
  font-weight: 600;
}
#search {
  color: black;
}
#search:hover {
  border: solid 1px #48484a;
  background-color: #48484a;
  color: white;
}
#here {
  margin: 0px auto;
  margin-left: 5px;
  font-size: 18px;
  background-color: #ec6e4b;
}
#here:hover {
  background-color: rgba(236, 236, 236, 0);
  color: black;
}
#daily {
  padding: 20px;
  margin-bottom: 20px;
}
#temp-number {
  font-weight: 500;
}
.units {
  font-size: 16px;
  position: relative;
  vertical-align: top;
  line-height: 28px;
  font-weight: 800;
  color: #48484a;
}
.icon-now {
  font-size: 50px;
  margin-left: auto;
}
#weather-icon-now {
  padding: 0;
}
h1 {
  font-weight: 500;
}
h2 {
  font-weight: 500;
}
h3 {
  font-weight: 400;
  padding: 0;
}
#description {
  font-weight: 500;
  text-transform: capitalize;
  color: #48484a;
}
ul {
  padding-left: 0;
  padding-bottom: 20px;
}
li {
  font-weight: 400;
  list-style: none;
}
.mini {
  padding: 20px;
  border-left: none;
}
.title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.data {
  font-size: 16px;
}
.above {
  border-bottom: none;
}
.below {
  margin-bottom: 20px;
}
h4 {
  font-weight: 500;
}
h5 {
  line-height: 1.5;
  font-size: 18px;
}
h6 {
  text-align: center;
}
#hourly {
  text-align: center;
  margin-bottom: 20px;
}
.hourly {
  text-align: center;
}
.hour {
  padding: 20px;
}
.weather-icon-hourly {
  max-width: 35px;
}
.temperature-daily-hourly {
  font-size: 16px;
}
#weekly {
  text-align: center;
  margin-bottom: 10px;
}
.day {
  margin: 20px auto;
}
.weather-icon-daily {
  max-width: 60px;
}
.temperature-daily {
  font-size: 18px;
}
.high {
  font-weight: 500;
}
.low {
  color: #48484a;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #ec6e4b;
  font-weight: 600;
}
.footer {
  display: block;
  margin: 0 auto;
  padding: 0;
}
footer {
  text-align: right;
  color: white;
}
footer a {
  color: black;
}
.time-date {
  color: #ec6e4b;
  text-align: left;
  font-weight: 500;
  font-size: 18px;
}
#time #date {
  font-size: 12px;
}
#timeUpdate {
  font-size: 10px;
  color: white;
}
.creditLine {
  padding: 0%;
  margin: 0%;
  font-size: 18px;
  font-weight: 500;
  margin-left: auto;
}
#credit {
  text-decoration: none;
  color: #ec6e4b;
  font-weight: 500;
}
#credit:hover {
  color: white;
  text-decoration: underline;
}
