body {
  color: black;
  font-family: "Rajdhani", sans-serif;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  filter: grayscale(100%) brightness(76%);
}
h1 {
  font-weight: 500;
}
h2 {
  font-weight: 500;
}
h3 {
  font-weight: 400;
  line-height: 1.5;
  padding: 0;
}
h4 {
  font-weight: 500;
}
h5 {
  line-height: 1.5;
  font-size: 18px;
}
ul {
  padding-left: 0;
}
li {
  font-weight: 400;
  list-style: none;
  font-style: italic;
}
button {
  border: solid 1px #48484a;
  transition: all 200ms ease-in-out;
}
a {
  text-decoration: none;
  color: #ec6e4b;
  font-weight: 600;
}
footer {
  text-align: right;
  font-weight: 500;
  color: white;
}
footer a {
  color: black;
  font-weight: 400;
}
.viewport-header {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  border-radius: 4px;
  border: solid 1px white;
  margin-bottom: 20px;
  background-color: rgba(236, 236, 236, 0.6);
  font-weight: 600;
}
.hourly {
  text-align: center;
}
.col {
  padding: 0;
}

.daily {
  padding: 20px;
  border: solid 1px white;
  border-radius: 4px;
  background-color: rgba(236, 236, 236, 0.6);
  text-align: left;
}
.units {
  font-size: 16px;
  position: relative;
  vertical-align: top;
  line-height: 28px;
  font-weight: 800;
}
.units .active {
  color: black;
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
}
.day {
  margin: 20px auto;
}
.weather-icon-daily {
  font-size: 50px;
}
.weather-icon-hourly {
  max-width: 45px;
}
.temperature-daily-hourly {
  font-size: 18px;
}
.temperature-daily {
  font-size: 20px;
}
.time-date {
  color: #ec6e4b;
  text-align: left;
  font-weight: 500;
  font-size: 18px;
}
.high {
  font-weight: 500;
}
.low {
  color: white;
  font-weight: 400;
}
#search {
  color: black;
}
#search:hover {
  border: solid 1px #48484a;
  background-color: #ec6e4b;
}
#credit {
  text-decoration: none;
  color: #ec6e4b;
  font-weight: 600;
}
#credit:hover {
  color: white;
  text-decoration: underline;
}
#app-title {
  font-size: 20px;
  font-weight: 600;
}
#here {
  margin: 0px auto;
  margin-left: 5px;
  font-size: 18px;
  background-color: #48484a;
}
#here:hover {
  background-color: rgba(236, 236, 236, 0);
  color: black;
}
#description {
  font-weight: 500;
  text-transform: capitalize;
}
#time #date {
  font-size: 12px;
}
#timeUpdate {
  font-size: 10px;
  color: white;
}
#weather-icon-now {
  margin-right: 40px;
}
#weekly {
  border: solid 1px white;
  border-left: none;
  border-radius: 4px;
  text-align: center;
  background-color: rgba(236, 236, 236, 0.6);
}
